<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Додати лічильник</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="scripts/script.js"></script>
  <link rel="stylesheet" href="styles/styles.css" />
</head>

<body>
  <div class="container">
    {{>nav}}
    <data>
      <div>
        {{#with results}}
        <h1>Завантажено протокол <td>{{protocol_number}}</td>
        </h1>
        <h2>Інформація про лічильник
          {{counter_number}}
        </h2>
        <table class="striped highlight rotated-table">
          <tr>
            <th>Номер лічильника</th>
            <td>{{counter_number}}</td>
          </tr>
          <tr>
            <th>Тип лічильника</th>
            <td>{{counter_type}}</td>
          </tr>
          <tr>
            <th>Рік виробництва</th>
            <td>{{counter_year}}</td>
          </tr>
          <tr>
            <th>Покази на момент повірки</th>
            <td>{{counter_value}}</td>
          </tr>
          <tr>
            <th>Статус лічильника</th>
            <td>{{counter_result}}</td>
          </tr>
          <tr>
            <th>Номер документу про повірку</th>
            <td>{{document_number}}</td>
          </tr>
          <tr>
            <th>Дата документу про повірку</th>
            <td>{{document_date}}</td>
          </tr>
          <tr>
            <th>Дата чинності документу про повірку</th>
            <td>{{document_validity_date}}</td>
          </tr>
          <tr>
            <th>Номер протоколу повірки</th>
            <td>{{protocol_number}}</td>
          </tr>
          <tr>
            <th>Дата протоколу повірки</th>
            <td>{{date}}</td>
          </tr>
          <tr>
            <th>Дата внесення</th>
            <td>{{dateAdd}}</td>
          </tr>
          {{#if ../isAuthenticated}}
          <tr>
            <th>Керування</th>

            <td>
              <a href="../view/{{../id}}" class="waves-effect waves-light btn-small">Переглянути</a>
            </td>

          </tr>
          {{/if}}
        </table>

        <object data="../{{../document}}" type="application/pdf">
          <iframe src="../{{../document}}"></iframe>
          <p>This browser does not support PDF!</p>
          </iframe>
        </object>


        <object data="../{{../pdf}}" type="application/pdf">
          <iframe src="../{{../pdf}}"></iframe>
          <p>This browser does not support PDF!</p>
          </iframe>
        </object>


        <div class="card">
          <div class="card-content">
            <span class="card-title">JSON</span>
            <pre class="json-output">
                      {{test_info}}
                    </pre>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <span class="card-title">SQL</span>
            <pre class="json-output">
                      {{sql_query}}
                    </pre>
          </div>
        </div>
        {{/with}}
      </div>


    </data>
    {{>footer}}
  </div>

</body>

</html>